%div{:id => 'footer', :class => "span-24 last"}
  %p= "Copyright (c) 2009 UNAM - Instituto de F&iacute;sica."
  %p=[ 'Phone: ' + Config.support('phone'), mail_to(Config.support('email')), link_to("Your HelpDesk", Config.support('url'), :tag => '_new') ].join(' | ')
