%form{ :method => "post", :action => "/login"}
  %p
    %label Login:
    %input{:id => "login", :name => "login", :type => "text", :size => 12}
  %p
    %label Password:
    %input{:id => "password", :name => "password", :type => "password", :size => 12}
  %input{:type => "submit", :value => "Enter"}