#content_left
  %p
    = image_tag('/images/lock.png', :border => 0, :style => 'float: left;')
    = 'Welcome!, You must use your login and password to access to Internet.'
#login
  #form
    = partial 'session_management/login_form'
